

h1 {
    text-align: center;
    background-color:crimson;

}

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}

a {
    color:blue;
}

h3 {
    color:brown;
}
h4{
    color:chocolate;
}

.rotate_image {  
    transform: rotate(45deg); 
    filter: blur(8px);
    -webkit-filter: blur(8px); 
}  